@model IEnumerable<pbshop_web.Models.ToolModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Herramientas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crea una nueva herramienta</a>
</p>
<div class="card">
<table class="table">
    <thead class="bg-primary">
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th class="text-white">
                Herramienta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toolName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.id }, new {@class = "btn btn-primary btn-sm"}) 
                @Html.ActionLink("Borrar", "Delete", new { id=item.id }, new {@class = "btn btn-danger btn-sm"})
            </td>
        </tr>
}
    </tbody>
</table>
</div>
