@model IEnumerable<pbshop_web.Models.WorkshopRecordModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Restauraciones</h1>

<p>
    <!-- <a asp-action="Create">Create New</a> -->
</p>
<div class="card">
<table class="table">
    <thead class="bg-primary">
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th class="text-white"> 
               Cliente
            </th class="text-white">
            <th class="text-white">
                Vehículo
            </th >
            <th class="text-white">Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.name)
                @Html.DisplayFor(modelItem => item.client.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicle.model)
                @Html.DisplayFor(modelItem => item.vehicle.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workshop_record_sate.state)
            </td>
            <td>
                
                @Html.ActionLink("Detalles", "Details", new {  id=item.id  }, new {@class = "btn btn-primary btn-sm"}) 
               <a  class="btn btn-warning btn-sm"><input type="hidden" value='@Html.DisplayFor(modelItem => item.id)'><i class="fas fa-file-alt"></i></a>
              
            </td>

        </tr>
}
    </tbody>
</table>
</div>
@section Scripts{
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/vfs_fonts.js"></script>
<script>
    $("body").on('click','.btn-warning',function(){
        var id = $(this).find('input').val();
        console.log(id)
    });
</script>
}